.home {
   text-align: center;
    color: white; 
  }
  .home h1{
    text-align: center;
    color: aliceblue;
  }
  .header{
    font-size: 3rem;
  }
  .home .btn{
     width:200px;
     height:200px;
      border-radius:50%;
  }